.elementor-25595 .elementor-element.elementor-element-2733442d > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-25595 .elementor-element.elementor-element-429fe8da{text-align:left;}.elementor-25595 .elementor-element.elementor-element-429fe8da .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:36px;font-weight:700;}.elementor-25595 .elementor-element.elementor-element-429fe8da > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 25px 0px;}.elementor-25595 .elementor-element.elementor-element-659958a{color:var( --e-global-color-text );}.elementor-25595 .elementor-element.elementor-element-659958a > .elementor-widget-container{padding:0px 0px 45px 0px;}.elementor-25595 .elementor-element.elementor-element-3889e23{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 45px 0px;}.elementor-25595 .elementor-element.elementor-element-3889e23 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-25595 .elementor-element.elementor-element-218bffc7{text-align:left;}.elementor-25595 .elementor-element.elementor-element-218bffc7.cea-align-center .section-description{margin:0 auto;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-title-wrapper .section-title{color:var( --e-global-color-secondary );margin-bottom:20px;font-size:36px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-description .lead{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-description .section-content{color:var( --e-global-color-text );margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-25595 .elementor-element.elementor-element-2c217bfe .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-25595 .elementor-element.elementor-element-2c217bfe .elementor-progress-bar{height:5px;line-height:5px;font-size:15px;}.elementor-25595 .elementor-element.elementor-element-2c217bfe .elementor-title{color:var( --e-global-color-secondary );font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;line-height:1px;letter-spacing:1px;}.elementor-25595 .elementor-element.elementor-element-2c217bfe > .elementor-widget-container{padding:0px 0px 35px 0px;}.elementor-25595 .elementor-element.elementor-element-7fd64801 .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-25595 .elementor-element.elementor-element-7fd64801 .elementor-progress-bar{height:5px;line-height:5px;font-size:15px;}.elementor-25595 .elementor-element.elementor-element-7fd64801 .elementor-title{color:var( --e-global-color-secondary );font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;line-height:1px;letter-spacing:1px;}.elementor-25595 .elementor-element.elementor-element-7fd64801 > .elementor-widget-container{padding:0px 0px 35px 0px;}.elementor-25595 .elementor-element.elementor-element-563397d4 .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-25595 .elementor-element.elementor-element-563397d4 .elementor-progress-bar{height:5px;line-height:5px;font-size:15px;}.elementor-25595 .elementor-element.elementor-element-563397d4 .elementor-title{color:var( --e-global-color-secondary );font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;line-height:1px;letter-spacing:1px;}.elementor-25595 .elementor-element.elementor-element-563397d4 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-275d639{text-align:left;}.elementor-25595 .elementor-element.elementor-element-275d639.cea-align-center .section-description{margin:0 auto;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-title-wrapper .section-title{color:var( --e-global-color-secondary );margin-bottom:20px;font-size:36px;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-description .lead{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-description .section-content{color:var( --e-global-color-text );margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-275d639 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list:not(.icon-list-inline) .cea-icon-list-item:not(:last-child){padding-bottom:calc(9px/2);}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list:not(.icon-list-inline) .cea-icon-list-item:not(:first-child){padding-top:calc(9px/2);}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list.icon-list-inline .cea-icon-list-item:not(:last-child){padding-right:calc(9px/2);}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list.icon-list-inline .cea-icon-list-item:not(:first-child){padding-left:calc(9px/2);}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list-icon i{color:#84c951;}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list-icon svg{fill:#84c951;}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list-item .icon-list-text{color:var( --e-global-color-text );}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list-item .icon-list-text.icon-list-text-left{padding-right:6px;}.elementor-25595 .elementor-element.elementor-element-72309fc7 .cea-icon-list-item .icon-list-text:not(.icon-list-text-left){padding-left:6px;}.elementor-25595 .elementor-element.elementor-element-3629bd57{text-align:left;}.elementor-25595 .elementor-element.elementor-element-3629bd57 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:36px;font-weight:700;}.elementor-25595 .elementor-element.elementor-element-3629bd57 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 25px 0px;}.elementor-25595 .elementor-element.elementor-element-7ddf4d52{color:var( --e-global-color-text );}.elementor-25595 .elementor-element.elementor-element-7ddf4d52 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-54713c4{padding:0px 0px 70px 0px;}.elementor-25595 .elementor-element.elementor-element-61fc0ba6:not(.elementor-motion-effects-element-type-background), .elementor-25595 .elementor-element.elementor-element-61fc0ba6 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EFF4F69C;}.elementor-25595 .elementor-element.elementor-element-61fc0ba6{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 65px 60px 65px;}.elementor-25595 .elementor-element.elementor-element-61fc0ba6 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-25595 .elementor-element.elementor-element-4e592d49 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 15px 0px 15px;}.elementor-25595 .elementor-element.elementor-element-4e592d49 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-title-wrapper .section-title{margin:0px 0px 0px 0px;margin-bottom:10px;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-title-wrapper .sub-title{color:var( --e-global-color-accent );margin-bottom:2px;font-family:"DM Sans", Sans-serif;font-size:15px;font-weight:700;text-transform:uppercase;letter-spacing:2px;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-description .lead{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-description .section-content{color:var( --e-global-color-text );margin-bottom:5px;font-size:17px;font-weight:400;}.elementor-25595 .elementor-element.elementor-element-169206c4 > .elementor-widget-container{margin:0px 0px 015px 0px;}.elementor-25595 .elementor-element.elementor-element-783fc62c .contact-form-wrapper{text-align:left;}.elementor-25595 .elementor-element.elementor-element-783fc62c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-17fd65a3{padding:55px 0px 12px 0px;}@media(max-width:1024px) and (min-width:768px){.elementor-25595 .elementor-element.elementor-element-3e9c47f3{width:100%;}.elementor-25595 .elementor-element.elementor-element-34068891{width:100%;}.elementor-25595 .elementor-element.elementor-element-4e592d49{width:100%;}}@media(max-width:1024px){.elementor-25595 .elementor-element.elementor-element-429fe8da .elementor-heading-title{font-size:32px;}.elementor-25595 .elementor-element.elementor-element-429fe8da > .elementor-widget-container{padding:10px 0px 15px 0px;}.elementor-25595 .elementor-element.elementor-element-659958a > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-title-wrapper .section-title{margin-bottom:15px;font-size:32px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-2c217bfe > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-25595 .elementor-element.elementor-element-7fd64801 > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-title-wrapper .section-title{margin-bottom:20px;font-size:32px;}.elementor-25595 .elementor-element.elementor-element-275d639 > .elementor-widget-container{padding:35px 0px 11px 0px;}.elementor-25595 .elementor-element.elementor-element-3889e23{padding:30px 0px 30px 0px;}.elementor-25595 .elementor-element.elementor-element-3629bd57 .elementor-heading-title{font-size:32px;}.elementor-25595 .elementor-element.elementor-element-3629bd57 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-25595 .elementor-element.elementor-element-54713c4{padding:0px 0px 50px 0px;}.elementor-25595 .elementor-element.elementor-element-4e592d49 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 15px 0px 15px;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-title-wrapper .section-title{font-size:40px;line-height:50px;}.elementor-25595 .elementor-element.elementor-element-169206c4 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-25595 .elementor-element.elementor-element-61fc0ba6{padding:40px 40px 30px 40px;}.elementor-25595 .elementor-element.elementor-element-17fd65a3{padding:30px 0px 0px 0px;}}@media(max-width:767px){.elementor-25595 .elementor-element.elementor-element-429fe8da{text-align:left;}.elementor-25595 .elementor-element.elementor-element-429fe8da .elementor-heading-title{line-height:38px;}.elementor-25595 .elementor-element.elementor-element-429fe8da > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-659958a > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-2e2a4264{padding:15px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-title-wrapper .section-title{margin-bottom:15px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-description .lead{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 .section-description .section-content{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-218bffc7 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-25595 .elementor-element.elementor-element-2c217bfe > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-25595 .elementor-element.elementor-element-7fd64801 > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-title-wrapper .section-title{margin-bottom:20px;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-description .lead{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-275d639 .section-description .section-content{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-275d639 > .elementor-widget-container{padding:35px 0px 15px 0px;}.elementor-25595 .elementor-element.elementor-element-3629bd57{text-align:left;}.elementor-25595 .elementor-element.elementor-element-3629bd57 .elementor-heading-title{line-height:38px;}.elementor-25595 .elementor-element.elementor-element-3629bd57 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-7ddf4d52 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-54713c4{padding:10px 0px 45px 0px;}.elementor-25595 .elementor-element.elementor-element-4e592d49 > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-title-wrapper .section-title{margin-bottom:10px;font-size:30px;line-height:39px;letter-spacing:0px;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-title-wrapper .sub-title{margin-bottom:2px;font-size:14px;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-description .lead{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-169206c4 .section-description .section-content{margin-bottom:5px;}.elementor-25595 .elementor-element.elementor-element-169206c4 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-25595 .elementor-element.elementor-element-783fc62c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-25595 .elementor-element.elementor-element-61fc0ba6{padding:35px 30px 25px 30px;}.elementor-25595 .elementor-element.elementor-element-17fd65a3{margin-top:0px;margin-bottom:0px;padding:40px 0px 0px 0px;}}/* Start custom CSS for column, class: .elementor-element-4e592d49 */.boxed-border:before {
position: absolute;
    top: 21px;
    left: -23px;
    content: "";
    width: 600px;
    height: 546px;
    background: transparent;
    border: 2px dashed #7900e0;
    border-radius: 50%;
    z-index: 0;
  -webkit-animation: rotateCircle 150s linear infinite;
          animation: rotateCircle 150s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4e592d49 */.boxed-border:before {
position: absolute;
    top: 21px;
    left: -23px;
    content: "";
    width: 600px;
    height: 546px;
    background: transparent;
    border: 2px dashed #7900e0;
    border-radius: 50%;
    z-index: 0;
  -webkit-animation: rotateCircle 150s linear infinite;
          animation: rotateCircle 150s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4e592d49 */.boxed-border:before {
position: absolute;
    top: 21px;
    left: -23px;
    content: "";
    width: 600px;
    height: 546px;
    background: transparent;
    border: 2px dashed #7900e0;
    border-radius: 50%;
    z-index: 0;
  -webkit-animation: rotateCircle 150s linear infinite;
          animation: rotateCircle 150s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-4e592d49 */.boxed-border:before {
position: absolute;
    top: 21px;
    left: -23px;
    content: "";
    width: 600px;
    height: 546px;
    background: transparent;
    border: 2px dashed #7900e0;
    border-radius: 50%;
    z-index: 0;
  -webkit-animation: rotateCircle 150s linear infinite;
          animation: rotateCircle 150s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */