.elementor-12777 .elementor-element.elementor-element-6bd9c25 > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-12777 .elementor-element.elementor-element-c4f1e16{text-align:left;}.elementor-12777 .elementor-element.elementor-element-c4f1e16 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:36px;font-weight:700;}.elementor-12777 .elementor-element.elementor-element-c4f1e16 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 25px 0px;}.elementor-12777 .elementor-element.elementor-element-362a177{color:var( --e-global-color-text );}.elementor-12777 .elementor-element.elementor-element-362a177 > .elementor-widget-container{padding:0px 0px 45px 0px;}.elementor-12777 .elementor-element.elementor-element-16a0097{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 45px 0px;}.elementor-12777 .elementor-element.elementor-element-16a0097 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12777 .elementor-element.elementor-element-c82dd7d{text-align:left;}.elementor-12777 .elementor-element.elementor-element-c82dd7d.cea-align-center .section-description{margin:0 auto;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-title-wrapper .section-title{color:var( --e-global-color-secondary );margin-bottom:20px;font-size:36px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-description .lead{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-description .section-content{color:var( --e-global-color-text );margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-12777 .elementor-element.elementor-element-3e02c98 .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-12777 .elementor-element.elementor-element-3e02c98 .elementor-progress-bar{height:5px;line-height:5px;font-size:15px;}.elementor-12777 .elementor-element.elementor-element-3e02c98 .elementor-title{color:var( --e-global-color-secondary );font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;line-height:1px;letter-spacing:1px;}.elementor-12777 .elementor-element.elementor-element-3e02c98 > .elementor-widget-container{padding:0px 0px 35px 0px;}.elementor-12777 .elementor-element.elementor-element-219341a .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-12777 .elementor-element.elementor-element-219341a .elementor-progress-bar{height:5px;line-height:5px;font-size:15px;}.elementor-12777 .elementor-element.elementor-element-219341a .elementor-title{color:var( --e-global-color-secondary );font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;line-height:1px;letter-spacing:1px;}.elementor-12777 .elementor-element.elementor-element-219341a > .elementor-widget-container{padding:0px 0px 35px 0px;}.elementor-12777 .elementor-element.elementor-element-d1c24b9 .elementor-progress-wrapper .elementor-progress-bar{background-color:var( --e-global-color-primary );}.elementor-12777 .elementor-element.elementor-element-d1c24b9 .elementor-progress-bar{height:5px;line-height:5px;font-size:15px;}.elementor-12777 .elementor-element.elementor-element-d1c24b9 .elementor-title{color:var( --e-global-color-secondary );font-family:"DM Sans", Sans-serif;font-size:14px;font-weight:600;text-transform:uppercase;line-height:1px;letter-spacing:1px;}.elementor-12777 .elementor-element.elementor-element-d1c24b9 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-d59c47e{text-align:left;}.elementor-12777 .elementor-element.elementor-element-d59c47e.cea-align-center .section-description{margin:0 auto;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-title-wrapper .section-title{color:var( --e-global-color-secondary );margin-bottom:20px;font-size:36px;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-description .lead{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-description .section-content{color:var( --e-global-color-text );margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-d59c47e > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list:not(.icon-list-inline) .cea-icon-list-item:not(:last-child){padding-bottom:calc(9px/2);}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list:not(.icon-list-inline) .cea-icon-list-item:not(:first-child){padding-top:calc(9px/2);}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list.icon-list-inline .cea-icon-list-item:not(:last-child){padding-right:calc(9px/2);}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list.icon-list-inline .cea-icon-list-item:not(:first-child){padding-left:calc(9px/2);}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list-icon i{color:#84c951;}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list-icon svg{fill:#84c951;}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list-item .icon-list-text{color:var( --e-global-color-text );}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list-item .icon-list-text.icon-list-text-left{padding-right:6px;}.elementor-12777 .elementor-element.elementor-element-02666e4 .cea-icon-list-item .icon-list-text:not(.icon-list-text-left){padding-left:6px;}.elementor-12777 .elementor-element.elementor-element-971e841{text-align:left;}.elementor-12777 .elementor-element.elementor-element-971e841 .elementor-heading-title{color:var( --e-global-color-secondary );font-family:"Plus Jakarta Sans", Sans-serif;font-size:36px;font-weight:700;}.elementor-12777 .elementor-element.elementor-element-971e841 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 25px 0px;}.elementor-12777 .elementor-element.elementor-element-82cf967{color:var( --e-global-color-text );}.elementor-12777 .elementor-element.elementor-element-82cf967 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-f761909{padding:0px 0px 70px 0px;}.elementor-12777 .elementor-element.elementor-element-bef43ed:not(.elementor-motion-effects-element-type-background), .elementor-12777 .elementor-element.elementor-element-bef43ed > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EFF4F69C;}.elementor-12777 .elementor-element.elementor-element-bef43ed{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:60px 65px 60px 65px;}.elementor-12777 .elementor-element.elementor-element-bef43ed > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12777 .elementor-element.elementor-element-ac60282 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 15px 0px 15px;}.elementor-12777 .elementor-element.elementor-element-ac60282 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-title-wrapper .section-title{margin:0px 0px 0px 0px;margin-bottom:10px;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-title-wrapper .sub-title{color:var( --e-global-color-accent );margin-bottom:2px;font-family:"DM Sans", Sans-serif;font-size:15px;font-weight:700;text-transform:uppercase;letter-spacing:2px;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-description .lead{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-description .section-content{color:var( --e-global-color-text );margin-bottom:5px;font-size:17px;font-weight:400;}.elementor-12777 .elementor-element.elementor-element-2931e47 > .elementor-widget-container{margin:0px 0px 015px 0px;}.elementor-12777 .elementor-element.elementor-element-a726d24 .contact-form-wrapper{text-align:left;}.elementor-12777 .elementor-element.elementor-element-a726d24 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-1a69505{padding:55px 0px 12px 0px;}@media(max-width:1024px) and (min-width:768px){.elementor-12777 .elementor-element.elementor-element-34419a3{width:100%;}.elementor-12777 .elementor-element.elementor-element-f40f980{width:100%;}.elementor-12777 .elementor-element.elementor-element-ac60282{width:100%;}}@media(max-width:1024px){.elementor-12777 .elementor-element.elementor-element-c4f1e16 .elementor-heading-title{font-size:32px;}.elementor-12777 .elementor-element.elementor-element-c4f1e16 > .elementor-widget-container{padding:10px 0px 15px 0px;}.elementor-12777 .elementor-element.elementor-element-362a177 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-title-wrapper .section-title{margin-bottom:15px;font-size:32px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d > .elementor-widget-container{margin:0px 0px 15px 0px;padding:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-3e02c98 > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-12777 .elementor-element.elementor-element-219341a > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-title-wrapper .section-title{margin-bottom:20px;font-size:32px;}.elementor-12777 .elementor-element.elementor-element-d59c47e > .elementor-widget-container{padding:35px 0px 11px 0px;}.elementor-12777 .elementor-element.elementor-element-16a0097{padding:30px 0px 30px 0px;}.elementor-12777 .elementor-element.elementor-element-971e841 .elementor-heading-title{font-size:32px;}.elementor-12777 .elementor-element.elementor-element-971e841 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-12777 .elementor-element.elementor-element-f761909{padding:0px 0px 50px 0px;}.elementor-12777 .elementor-element.elementor-element-ac60282 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 15px 0px 15px;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-title-wrapper .section-title{font-size:40px;line-height:50px;}.elementor-12777 .elementor-element.elementor-element-2931e47 > .elementor-widget-container{margin:0px 0px 15px 0px;}.elementor-12777 .elementor-element.elementor-element-bef43ed{padding:40px 40px 30px 40px;}.elementor-12777 .elementor-element.elementor-element-1a69505{padding:30px 0px 0px 0px;}}@media(max-width:767px){.elementor-12777 .elementor-element.elementor-element-c4f1e16{text-align:left;}.elementor-12777 .elementor-element.elementor-element-c4f1e16 .elementor-heading-title{line-height:38px;}.elementor-12777 .elementor-element.elementor-element-c4f1e16 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-362a177 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-40c2afd{padding:15px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-title-wrapper .section-title{margin-bottom:15px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-description .lead{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d .section-description .section-content{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-c82dd7d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 20px 0px;}.elementor-12777 .elementor-element.elementor-element-3e02c98 > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-12777 .elementor-element.elementor-element-219341a > .elementor-widget-container{padding:0px 0px 25px 0px;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-title-wrapper .section-title{margin-bottom:20px;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-title-wrapper .sub-title{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-description .lead{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-d59c47e .section-description .section-content{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-d59c47e > .elementor-widget-container{padding:35px 0px 15px 0px;}.elementor-12777 .elementor-element.elementor-element-971e841{text-align:left;}.elementor-12777 .elementor-element.elementor-element-971e841 .elementor-heading-title{line-height:38px;}.elementor-12777 .elementor-element.elementor-element-971e841 > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-82cf967 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-f761909{padding:10px 0px 45px 0px;}.elementor-12777 .elementor-element.elementor-element-ac60282 > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-title-wrapper .section-title{margin-bottom:10px;font-size:30px;line-height:39px;letter-spacing:0px;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-title-wrapper .sub-title{margin-bottom:2px;font-size:14px;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-description .lead{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-2931e47 .section-description .section-content{margin-bottom:5px;}.elementor-12777 .elementor-element.elementor-element-2931e47 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-12777 .elementor-element.elementor-element-a726d24 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-12777 .elementor-element.elementor-element-bef43ed{padding:35px 30px 25px 30px;}.elementor-12777 .elementor-element.elementor-element-1a69505{margin-top:0px;margin-bottom:0px;padding:40px 0px 0px 0px;}}/* Start custom CSS for column, class: .elementor-element-ac60282 */.boxed-border:before {
position: absolute;
    top: 21px;
    left: -23px;
    content: "";
    width: 600px;
    height: 546px;
    background: transparent;
    border: 2px dashed #7900e0;
    border-radius: 50%;
    z-index: 0;
  -webkit-animation: rotateCircle 150s linear infinite;
          animation: rotateCircle 150s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ac60282 */.boxed-border:before {
position: absolute;
    top: 21px;
    left: -23px;
    content: "";
    width: 600px;
    height: 546px;
    background: transparent;
    border: 2px dashed #7900e0;
    border-radius: 50%;
    z-index: 0;
  -webkit-animation: rotateCircle 150s linear infinite;
          animation: rotateCircle 150s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ac60282 */.boxed-border:before {
position: absolute;
    top: 21px;
    left: -23px;
    content: "";
    width: 600px;
    height: 546px;
    background: transparent;
    border: 2px dashed #7900e0;
    border-radius: 50%;
    z-index: 0;
  -webkit-animation: rotateCircle 150s linear infinite;
          animation: rotateCircle 150s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-ac60282 */.boxed-border:before {
position: absolute;
    top: 21px;
    left: -23px;
    content: "";
    width: 600px;
    height: 546px;
    background: transparent;
    border: 2px dashed #7900e0;
    border-radius: 50%;
    z-index: 0;
  -webkit-animation: rotateCircle 150s linear infinite;
          animation: rotateCircle 150s linear infinite;
}

@-webkit-keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */